/* General Modal Styling */
.Modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    position: relative;
    z-index: 1050;
    animation: fadeIn 0.3s;
  }
  
  .ModalBody {
    padding: 20px;
  }
  
  .ModalFooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #dcdcdc;
  }
  
  .Modal input[type="text"],
  .Modal input[type="number"],
  .Modal input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
  }
  
  .Modal label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .Modal button {
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Modal button.primary {
    background-color: #3498db;
    color: white;
  }
  
  .Modal button.secondary {
    background-color: #e74c3c;
    color: white;
  }
  
  .Modal button:hover {
    opacity: 0.8;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .button-like {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
  
  .button-like input[type="file"] {
    display: none;
  }
  
  .selected-file {
    margin-top: 10px;
    font-style: italic;
    color: #666;
  }
  
  .image-preview {
    display: block;
    margin: 10px auto; /* Center the image */
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .error-text {
    color: #8f0101;
  }